body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: black;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0%;
}

section {
    background-color: rgb(200, 100, 100);
    height: 120%;
    position: absolute;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 1%;
}

.hich {
    color: green;
    background-color: brown;
    position: absolute;
    right: 0;
}

li.navi {
    margin: 10px;
}



footer {
    color: rgb(200, 255, 200);
    background-color: black;
    width: 100%;
    height: 3%;
    position: fixed;
    bottom: 0;
}