/*
body, nav, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(168, 151, 151);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    margin: 0px;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    list-style-type: none;
}
li.navi {
    margin: 10px;
    left: 10px;
    background-color: gray;
}

.ich {
    position: absolute;
    right: 10px;
    color: green;
    background-color: beige;
}

footer {
    background-color: brown;
    margin-top: auto;
    left: 0;
    right: 0;
}

nav.nav2 {
    background-color: red;
    margin: 1px;
}
*/








body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;   
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: green;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    padding-right: 15vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    ;
}

.linkfelian {
    background-color: brown;
    border-radius: 5ch;
    padding: 35px;
}
.ich {
    color: greenyellow;
    border-radius: 5ch;
    padding: 70px;
    background-color: brown;
}

main {
    background-color: rgb(43, 28, 21);
    flex-grow: 1;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
}

footer {
    background-color: grey;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
body {
    background-color: rgb(155, 155, 155);
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

ul {
    display: inline;
}

li {
    list-style-type: none;
}

ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

nav.felian {
    background-color: white;
    width: 10%;
    padding: 2%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
*/