body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;   
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: green;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    padding-right: 15vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    ;
}

.linkfelian {
    background-color: brown;
    border-radius: 3ch;
    padding: 15px;
}
.ich {
    color: greenyellow;
    border-radius: 5ch;
    padding: 1vw;
    background-color: brown;
}

main {
    background-color: rgb(43, 28, 21);
    flex-grow: 1;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
}

footer {
    background-color: grey;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 380px) {
    main {
        background-color: red;
    }
}
